#baffle {
	width: 100%;
	height: 100px;
	background: $basecolor;
	border: 3px solid $white;
}

#complementary {
	width: 100%;
	height: 100px;
	background: $compcolor;
	// border: 3px solid $white;
}

#baffleblack {
	width: 100%;
	height: 100px;
	background: $black;
	// border: 3px solid $white;
}

#bafflewhite {
	width: 100%;
	height: 100px;
	background: $white;
	// border: 3px solid $white;
}

#baffletriadictre {
	width: 100%;
	height: 100px;
	background: $linkcolorhover;
	// border: 3px solid $white;
}

#baffletriadicdue {
	width: 100%;
	height: 100px;
	background: #1ebaff;
	// border: 3px solid $white;
}


/* Cleaner, but slightly less support: use "50%" as value */

// .circle {
//     height: 200px;
//     width: 200px;
//     background-color: #72b8c2;
//     border: 2px solid #234e5e;
// 
//     /* In this case we use half of the
//      width and height as radius. */
// 
//     border-radius: 100px;
//     -moz-border-radius: 100px;
//     -webkit-border-radius: 100px;
// }