---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Latest:</h1> -->

  {{ content }}

  <ul class="post-list">
    <h2>Latest activities</h2>
    {% for post in site.categories.activity limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <h1 class="page-heading"><a href="{{ site.url}}/allposts/">Full list of activities…</a></h1>

  <span>
    <center>
      <h1>
        * * *
      </h1>
    </center>
  </span>

  <ul class="post-list">
    <h2>Latest blog post</h2>
    {% for post in site.categories.blog limit:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <h1 class="page-heading"><a href="{{ site.url}}/allposts/">Other blog posts…</a></h1>
</div>
